
    <title>Our Story</title>

    <p>We are two people who always want to explore more advantures in our workplace. We find that sometimes you should allow yourself to have a short nap during your workday to allow for more productivity. Daytime naps are really helpful at jumpstarting your brain which leads to increased thinking power! Our application can help you to generate awesome ideas for Day Dream. Try a five minutes nap and travel to any destination in the world! </p>

    <h2>Yes! From your office!</h2>
